
<div class="section-register" >
  <div class="container-register">
    <div *ngIf="showSubscription" class="icon-container" >
      <button mat-icon-button (click)="showSubscription = !showSubscription">
        <mat-icon class="icon-display">keyboard_backspace</mat-icon>
      </button>
    </div>

    <h2 id="subtitle" style="color:#3F1602;">{{showSubscription ? "Register Subscription" : "Register"}}</h2>
    <span *ngIf="!showSubscription" id="paragraph" style="color:#3F1602 ; font-family: 'Roboto', sans-serif;">Login your account to access the temperature and food monitoring dashboard</span>

    <form (submit)="onSubmit()" *ngIf="!showSubscription"
           #registerForm="ngForm"
           class="example-form" style="margin-top: 20px;">
      <mat-form-field *ngFor="let field of registerFields" class="example-full-width">
        <mat-label>{{field.label}}</mat-label>
        <input [placeholder]="field.placeholder" [name]="field.field"
               matInput [type]="field.type" [(ngModel)]="field.value"
               autocomplete="off"
               [minlength]="field?.minLength == undefined ? null : field.minLength!"
               [required]="field.required" />
        <mat-error *ngIf="hasError(field.field, 'required')">{{field.label}} is <strong>required</strong></mat-error>
        <mat-error *ngIf="hasError(field.field, 'minlength')">{{field.label}} min length is <strong>{{field?.minLength}}</strong></mat-error>
      </mat-form-field>


      <section class="example-section">
        <mat-checkbox class="example-margin" ><span style="font-family: 'Roboto', sans-serif;">Remember me?</span></mat-checkbox>
      </section>
      <div class="btn-container" style="display: flex; justify-content: center; text-align: center; margin-top: 10px;">
        <a style="text-decoration: none; color: #fff;"   >
          <button id="btn-main" type="submit" >
            <span>Next</span>
          </button>
        </a>
      </div>
    </form>

    <div class="subscription-plan" *ngIf="showSubscription">
      <mat-card>
        <span class="price">${{ currentSubscription.price }}</span>
        <ul>
          <li *ngFor="let item of currentSubscription.benefits">
            {{ item }}
          </li>
        </ul>
      </mat-card>
      <div class="conditions">
        <mat-checkbox [(ngModel)]="acceptSubscription">
          <small>I do accept the Terms and Conditions of TastyPoint</small>
        </mat-checkbox>
        <mat-icon
          [matTooltip]="subscriptionCondition"
          (click)="tooltip.toggle()" #tooltip="matTooltip"
          matTooltipPosition="above">info</mat-icon>
      </div>

      <div class="btn-container" style="display: flex; justify-content: center; text-align: center; margin-top: 10px;">
        <button id="btn-main" (click)="register()" [disabled]="!acceptSubscription">
          <span>Register</span>
        </button>
      </div>
    </div>

    <section class="example-section" style="margin-top: 20px;">
      <span style="font-family: 'Roboto', sans-serif; ">Already a user? <a routerLink="/login" style="color:var(--color-secondary)">Login</a></span>
    </section>
  </div>
</div>

<div id="line-white"></div>
