
<div style="background-color: var(--color-primary); display: flex; justify-content: center;" *ngIf="!isEdit && !isRegister">
  <div style=" width: 80%; display: flex; justify-content: end;">
    <button mat-flat-button style="background-color: var(--color-secondary);color: white; margin-top: 50px;"  (click)="isRegister = !isRegister">
      Create
    </button>
  </div>
</div>


<div class="section-inventory">
  
  <div class="table-container">

    <div class="inventory-actions" *ngIf="!isEdit && !isRegister">
      <app-inventory-filter [filterCallback]="this"></app-inventory-filter>
    </div>

    <div *ngIf="isEdit || isRegister" class="icon-container">
      <button mat-icon-button (click)="back()">
        <mat-icon class="icon-display">keyboard_backspace</mat-icon>
      </button>
    </div>


    <app-register-inventory [onCreate]="this" *ngIf="isRegister" (cancelRegister)="handleCancelRegister()"></app-register-inventory>

    <app-update-inventory [onUpdate]="this" [product]="editProduct" *ngIf="isEdit; else inventory"></app-update-inventory>
    <ng-template #inventory>
      <mat-table *ngIf="!isRegister" [dataSource]="dataSource" matSort class="custom-table">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="custom-header">Product Id</mat-header-cell>
          <mat-cell *matCellDef="let product">{{ product.uid }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="custom-header">Product Name</mat-header-cell>
          <mat-cell *matCellDef="let product">{{ product.item.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="entryDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="custom-header">Entry Date</mat-header-cell>
          <mat-cell *matCellDef="let product">{{ product.item.entryDate }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="expirationDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="custom-header">Expiration Date</mat-header-cell>
          <mat-cell *matCellDef="let product">{{ product.item.expirationDate }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="custom-header">Actions</mat-header-cell>
          <mat-cell *matCellDef="let product" class="actions">
            <button (click)="deleteRow(product.uid)">Delete</button>
            <button (click)="updateProduct(product)" style="background-color: var(--color-primary);">Update</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" class="custom-row"></mat-row>
      </mat-table>
      <mat-paginator *ngIf="!isRegister" [length]="50"
                     [pageSize]="8"
                     [pageIndex]="0"
                     [showFirstLastButtons]="false"
                     class="custom-paginator"></mat-paginator>
    </ng-template>


  </div>
</div>
