
.section-login{
    height: 758px;
    background-color: #f0bc3c;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-login{
    width: 40%;
    height: 50%;
    
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.container-login form {
    margin-top: 0;
    margin-bottom: 0;
  }
  
.example-full-width {
    width: 90%;
}

.container-btns{
    margin-top: 30px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#btn-second{
    width: 120px;
    height: Hug (48px);
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #3F1602; 
    display: flex;
    justify-content: center;
    font-family: Secular One, sans-serif;
}

#btn-main{
    width: 120px;
    color: #ffff;
    height: Hug (48px);
    padding: 12px;
    border-radius: 8px;
    background-color: #3F1602;
    display: flex;
    justify-content: center;
    font-family: Secular One, sans-serif;
}

#subtitle{
    font-family: Secular One, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    
}

#paragraph{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    
}


.line-white {
    height: 2px; 
    background-color: white; 
}