
.section-login{
    height: 758px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-login{
    width: 40%;
    height: 60%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.container-login form {
    margin-top: 0;
    margin-bottom: 0;
  }
  
.example-full-width {
    width: 90%;
}

.container-btns{
    margin-top: 30px;
    width: 45%;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1250px) {
    .container-btns{
        flex-direction: column;
        align-items: center;
        height: 110px;
    }
}







