<p>
    <mat-toolbar style="background-color: #401404; height: 80px; padding: 8px;">
      <mat-toolbar-row>
        <img src="../../../assets/logo_tastypoint.png" alt="" style="height: 70px; margin-right: 10px;">
        <span style="font-family: 'Secular One', sans-serif;">TastyPoint Restaurants</span>
        <span class="example-spacer"></span>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button> -->
      </mat-toolbar-row>
    </mat-toolbar>
</p>
  